<head>
    <%= stylesheet_link_tag 'clientForm', media: 'all' %>
</head>

<h1>Editing Client</h1>

<%= render 'form', client: @client %>

<div class="buttons">
    <%= link_to @client, class: 'btn btn-secondary fatherButton' do %>
    Show
    <% end %>
    <%= link_to clients_path, class: 'btn btn-secondary fatherButton' do %>
    Back
    <% end %>
</div>
