body{
    display: flex;
    flex-direction: column;
}

form{
    margin-left: 20px;
    margin-bottom: 0;
}

p{
    margin-left: 20px;
}

.mb-3{
    width: 60%;
}

.button{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 60%;
}
.buttons{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.fatherButton{
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20px;
}

.fatherButtonNew{
    width: 60%;
}

h1{
    margin-left: 20px;
}
