<head>
    <%= stylesheet_link_tag 'agencyForm', media: 'all' %>
</head>

<h1>New Agency</h1>

<%= render 'form', agency: @agency %>

<div class="buttons">
    <%= link_to agencies_path, class: 'btn btn-secondary fatherButton' do %>
    Back
    <% end %> 
</div>
